services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: newsapp
      POSTGRES_USER: newsapp
      POSTGRES_PASSWORD: newsapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"

volumes:
  postgres_data:
